/*estilos para colores*/
.color {
    color:#157145;
}
.color_2{
    color:rgb(93, 244, 73);
}

/*fondos*/
.fondo{
    background-image: url(https://static.diariofemenino.com/media/885/sonarhojasverdes1.jpg);
    background-position: left;}

.prueba{
    background-color: rgb(237, 237, 25);
}