:root {
    /* rosados */
    --pink-primary-color: #cd8ba1;
    --pink-secondary-color:#dbafbe;
    --dark-pink-color:#ff57aa;


    /* tonos grises */
    --gray-primary: #dddddd;
    --light-grey-color:#f5f5f5;
    --black-color:#262926;
    --white-color:#FFFFFF;



}